<html lang='zh-CN'>
  <head>
    {{>head}}
    <link href="/css/custom.css" rel="stylesheet"/>
    <title>OAuth2 Server</title>
  </head>

  <body>
    {{> navtab active='home'}}

    <div class='container'>

    {{{documentation}}}

    </div>
  </body>
</html>
