<html lang='zh-CN'>
  <head>
    <title>OAuth Server System</title>

    {{>head}}

    <!-- Custom styles for this template -->
    <link href='/css/custom.css' rel='stylesheet' />
  </head>

  <body>

    {{> navtab active='login'}}

    <div class='container'>

      <form class='form-signin' method='post'>
        <h2 class='form-signin-heading'>Please Login</h2>
        <div class='input-field'>
          <label for='username' class='sr-only'>username</label>
          <input
            type='text'
            name='username'
            class='form-control'
            placeholder='username'
            required
            autofocus
          />
          <label for='password' class='sr-only'>password</label>
          <input
            type='password'
            name='password'
            class='form-control'
            placeholder='password'
            required
          />
        </div>
        <button
          class='btn btn-lg btn-primary btn-block'
          type='submit'
        >Login</button>
      </form>

    </div>
  </body>
</html>
